<div class="pace-progress-inner"></div>
</div>
<div class="pace-activity"></div></div>
<div class="container">
  <div class="row login-container column-seperation">
    <div class="col-md-5 col-md-offset-1">
      <h2>
        Sign in to Refrion
      </h2>
    </div>
    <div class="col-md-5">
      <br>
      <p id="alert"><%= alert %></p>
      <%= form_tag sessions_path do |form| %>
        <div class="row">
          <div class="form-group col-md-10">
            <label class="form-label">Username</label>
            <input class="form-control" id="email" name="email" type="email" required="" aria-required="true">
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-10">
            <label class="form-label">Password</label> <span class="help"></span>
            <input class="form-control" id="password" name="password" type="password" required="" aria-required="true">
          </div>
        </div>
        <div class="row">
          <div class="control-group col-md-10">
            <div class="checkbox checkbox check-success">
              <a href="#">Trouble login in?</a>&nbsp;&nbsp;
              <input id="checkbox1" type="checkbox" value="1">
              <label for="checkbox1">Keep me reminded</label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-10">
            <button class="btn btn-primary btn-cons pull-right" type="submit">Login</button>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
